<div class="gg-event">
  {{ content }}

  {#
  <section>
    <header>{{ 'Captions' | t }}</header>

    <dl>
      {% if node.field_gg_instagram_caption.value is not empty %}
        <dt>Instagram</dt>
        <dd>{{ node.field_gg_instagram_caption.value }}</dd>
      {% endif %}

      {% if node.field_gg_twitter_caption.value is not empty %}
        <dt>Twitter</dt>
        <dd>{{ node.field_gg_twitter_caption.value }}</dd>
      {% endif %}
    </dl>
  </section>
  #}

  <figure>
    <a href="{{ qr_code.data_uri }}">
      <img src="{{ qr_code.data_uri }}" alt="{{ qr_code.data_text }}"/>
    </a>
  </figure>

  {% if media is not empty %}
    <div class="media">
      {% spaceless %}
      {% for item in media %}
        <article class="item">
          <a href="{{ path('entity.node.canonical', {'node': item.fields.nid.value}) }}">
            <figure>
              {% if item.field_gg_file is not empty %}
                <img src="{{ file_url(item.field_gg_file.entity.uri.value) }}"/>
              {% endif %}

              <figcaption>{{ item.title.value }}</figcaption>
            </figure>
          </a>
        </article>
      {% endfor %}
      {% endspaceless %}
    </div>
  {% endif %}

  {% if events is not empty %}
    <ul>
      {% for child in events %}
        <li><a href="{{ path('entity.node.canonical', {'node': child.fields.nid.value}) }}">{{ child.fields.title.value }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
