{% macro media(params) %}
  {% set url = file_url(params.media_url) %}
  {% if url matches '/\.mp4$/' %}
    <video controls="controls">
      <source src="{{ url }}" type="video/mp4" />
    </video>
  {% else %}
    {% set link_url = params.link_url ? params.link_url : url %}
    <a href="{{ link_url }}">
      <img src="{{ url }}"/>
    </a>
  {% endif %}
{% endmacro %}

{% spaceless %}
<figure>
  {% import _self as this %}
  {{ this.media(_context) }}

  {% if title %}
    {% if link_url %}
      <a href="{{ link_url }}">
        <figcaption>{{ title }}</figcaption>
      </a>
    {% else %}
      <figcaption>{{ title }}</figcaption>
    {% endif %}
  {% endif %}
</figure>
{% endspaceless %}
